# üßä Apache Iceberg - Schema Evolution with PySpark
This notebook demonstrates various schema evolution features in Apache Iceberg using PySpark.

## ‚öôÔ∏è Step 1: SparkSession Setup

In [2]:

from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("IcebergSchemaEvolution") \
    .config("spark.sql.catalog.local", "org.apache.iceberg.spark.SparkCatalog") \
    .config("spark.sql.catalog.local.type", "hadoop") \
    .config("spark.sql.catalog.local.warehouse", "/home/jovyan/iceberg/warehouse") \
    .config("spark.sql.extensions", "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions") \
    .getOrCreate()

In [3]:
spark.sql("DROP TABLE IF EXISTS local.db.customers")

DataFrame[]

## üìò Step 2: Create a Basic Iceberg Table

In [4]:

spark.sql("""
    CREATE TABLE local.db.customers (
        id INT,
        name STRING
    )
    USING iceberg
""")

DataFrame[]

In [5]:

spark.sql("""
    INSERT INTO local.db.customers VALUES 
    (1, 'Alice'),
    (2, 'Bob')
""")

DataFrame[]

## ‚ûï Step 3: Add a New Column

In [6]:

spark.sql("ALTER TABLE local.db.customers ADD COLUMN email STRING")
spark.sql("INSERT INTO local.db.customers VALUES (3, 'Charlie', 'charlie@example.com')")

DataFrame[]

## üîÑ Step 4: Rename a Column

In [7]:

spark.sql("ALTER TABLE local.db.customers RENAME COLUMN name TO full_name")

DataFrame[]

## üîß Step 5: Change Column Type (INT ‚ûù BIGINT)

In [8]:

spark.sql("ALTER TABLE local.db.customers ALTER COLUMN id TYPE BIGINT")

DataFrame[]

## üìë Step 6: Reorder Columns (email FIRST)

In [9]:

spark.sql("ALTER TABLE local.db.customers ALTER COLUMN email FIRST")

DataFrame[]

## ‚ùå Step 7: Drop a Column

In [10]:

spark.sql("ALTER TABLE local.db.customers DROP COLUMN email")

DataFrame[]

## üìä Step 8: View Final Schema and Data

In [11]:

print("Final Schema:")
spark.sql("DESCRIBE TABLE local.db.customers").show(truncate=False)

print("Final Data:")
spark.sql("SELECT * FROM local.db.customers").show()

Final Schema:
+---------+---------+-------+
|col_name |data_type|comment|
+---------+---------+-------+
|id       |bigint   |NULL   |
|full_name|string   |NULL   |
+---------+---------+-------+

Final Data:
+---+---------+
| id|full_name|
+---+---------+
|  3|  Charlie|
|  1|    Alice|
|  2|      Bob|
+---+---------+