In [38]:
# Basic Table (No Partitioning)
spark.sql("""
CREATE TABLE local.db.products (
    id INT,
    name STRING,
    price DOUBLE
)
USING ICEBERG
TBLPROPERTIES ('format-version' = '2')
""")
spark.sql("""
INSERT INTO local.db.products VALUES
(1, 'Laptop', 999.99),
(2, 'Phone', 499.50)
""")
spark.sql("""SELECT * FROM local.db.products""").show()

+---+------+------+
| id|  name| price|
+---+------+------+
|  1|Laptop|999.99|
|  2| Phone| 499.5|
+---+------+------+

In [39]:
spark.sql("DESCRIBE TABLE EXTENDED local.db.products").show(truncate=False)

+----------------------------+----------------------------------------------------------------------------------------------------------------------+-------+
|col_name                    |data_type                                                                                                             |comment|
+----------------------------+----------------------------------------------------------------------------------------------------------------------+-------+
|id                          |int                                                                                                                   |NULL   |
|name                        |string                                                                                                                |NULL   |
|price                       |double                                                                                                                |NULL   |
|                            |                                                                                                                      |       |
|# Metadata Columns          |                                                                                                                      |       |
|_spec_id                    |int                                                                                                                   |       |
|_partition                  |struct<>                                                                                                              |       |
|_file                       |string                                                                                                                |       |
|_pos                        |bigint                                                                                                                |       |
|_deleted                    |boolean                                                                                                               |       |
|                            |                                                                                                                      |       |
|# Detailed Table Information|                                                                                                                      |       |
|Name                        |local.db.products                                                                                                     |       |
|Type                        |MANAGED                                                                                                               |       |
|Location                    |/home/jovyan/iceberg/warehouse/db/products                                                                            |       |
|Provider                    |iceberg                                                                                                               |       |
|Owner                       |jovyan                                                                                                                |       |
|Table Properties            |[current-snapshot-id=5855458156974988966,format=iceberg/parquet,format-version=2,write.parquet.compression-codec=zstd]|       |
+----------------------------+----------------------------------------------------------------------------------------------------------------------+-------+

In [40]:
# Create an Iceberg table using SQL
spark.sql("""
    CREATE TABLE local.db.sales (
        id INT,
        product STRING,
        amount DOUBLE,
        sale_date DATE
    )
    USING ICEBERG
    PARTITIONED BY (months(sale_date))
    TBLPROPERTIES (
        'format-version' = '2'
    )
""")

# Insert records
spark.sql("""
    INSERT INTO local.db.sales VALUES
    (1, 'Pen', 5.5, DATE '2024-01-15'),
    (2, 'Pencil', 2.0, DATE '2024-01-17'),
    (3, 'Notebook', 7.25, DATE '2024-02-10')
""")

# Read and display
spark.sql("SELECT * FROM local.db.sales").show()

AnalysisException: [TABLE_OR_VIEW_ALREADY_EXISTS] Cannot create table or view `db`.`sales` because it already exists.
Choose a different name, drop or replace the existing object, or add the IF NOT EXISTS clause to tolerate pre-existing objects.

In [41]:
# Create Partitioned Iceberg Table (SQL)
spark.sql("""
CREATE TABLE local.db.partitioned_table (
  id INT,
  category STRING,
  value DOUBLE
)
USING iceberg
PARTITIONED BY (category)
""")

DataFrame[]